.questions {
  padding: 60px 60px 30px;
  background-color: #f2f4fa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.question-heading {
  text-align: center;
  font-weight: 500;
  margin-bottom: 80px;
}
.singel-question {
  border-top: 2px solid #000;
  border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
  margin-bottom: 40px;
  line-height: 30px;
  padding-top: 10px;
}
.singel-question h3 {
  margin: 0;
}
.singel-question p {
  font-weight: 500;
  margin: 10px 0 0 15px;
}
/* responsive */
@media screen and (max-width: 992px) {
  .questions {
    padding: 30px;
  }
}
