.my-info {
  display: flex;
  align-items: center;
}
.my-info img {
  width: 20%;
  border-radius: 50%;
  margin-right: 10px;
}
.my-info-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f2f4fa;
}
.small-text {
  color: #5c6673;
}
.break-button-conatiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f2f4fa;
  padding: 15px;
}
.break-button-conatiner button {
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.exercise-details {
  margin-top: 60px;
}
.exercise-details h3 {
  padding: 5px 15px;
  display: flex;
  border-radius: 5px;
  background-color: #f2f4fa;
  align-items: center;
  justify-content: space-between;
}
.btn-completed {
  width: 100%;
  padding: 15px 0;
  margin-top: 60px;
  background: #0473b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
/* responsive */
@media screen and (max-width: 768px) {
  .break-button-conatiner {
    flex-direction: column;
  }
}
