.sport {
  border: none;
  border-radius: 8px;
  padding: 10px 10px 15px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sport img {
  width: 100%;
  border-radius: 8px;
}
.sport-info {
  padding: 10px 5px 0;
}
.sport-name {
  margin-top: 0px;
}
.sport-time {
  font-weight: 500;
  margin-top: 0px;
}
.btn-add {
  width: 100%;
  padding: 10px 0;
  background: #0473b9;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-add:hover {
  background-color: #023475;
}
