.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #f2f4fa;
}
.sports {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 15px;
}
.first-half {
  padding: 60px;
}
.second-half {
  background-color: #fff;
  padding: 10px 20px;
}

/* responsive */
@media screen and (max-width: 768px) {
  .home,
  .sports {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 992px) {
  .home,
  .sports {
    grid-template-columns: 1fr;
  }
  .first-half {
    padding: 30px;
  }
}
